* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #bc50a4;
    font-weight: 700;
}

html {
    position: relative;
    min-height: 100%;
    font-family: Roboto, sans-serif;
    overflow-y: scroll;
}

body {
    margin: 0 0 50px;
    padding-top: 80px;
    background: #f7f7f6;
}

header {
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 80px;
    border-bottom: 1px solid #e2e2e2;
    z-index: 99;
}

header .content {
    height: 80px;
    padding: 15px 20px;
    display: flex;
}

#logo {
    max-height: 50px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
    margin-right: 20px;
}

header h1 {
    font-size: 35px;
    color: #333;
    margin: 0;
}

main {
    padding: 20px;
    opacity: 0;
    animation: fadeIn .2s forwards;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.photos {
    overflow: auto;
}

.photos .photo {
    position: relative;
    display: block;
    width: 23%;
    margin: 1%;
    float: left;
    border-radius: 3px;
    border: 2px solid #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #fff;
}

.photo .meta {
    font-size: 13px;
    padding: 5px;
    height: 40px;
    overflow: hidden;
}

.like {
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 40px;
    color: rgba(255, 255, 255, 0.3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.7);
}

.like.liked {
    color: #fff;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 768px) {
    .photos .photo {
        width: 48%;
        margin: 1%;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }
    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#menu {
    position: relative;
    margin-left: auto;
}

#menu img {
    opacity: 0.75;
    max-height: 30px;
    margin: 10px 0;
    cursor: pointer;
}

#menu img:hover {
    opacity: 1;
}

.menuOverlay {
    z-index: 99999999999;
    display: block;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    min-width: 200px;
    position: absolute;
    padding: 10px;
    top: 0;
    right: -1px; /* shadow hack*/
    background: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
    border: 1px solid #bc50a4;
}

.menuOverlay .userInfo {
    font-size: 14px;
    color: #888;
    padding: 12px 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 8px;
}

.menuOverlay .userInfo #username {
    font-weight: 700;
    color: #555;
}

.menuOverlay ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 17px;
}

.menuOverlay li + li {
    padding-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 5px;
}

.menuOverlay a {
    display: block;
    padding: 5px 0;
    font-weight: 300;
}

.menuOverlay li:hover a {
    color: #bc23a0;
}

.menuOverlay.open {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.button {
    border-radius: 0;
    border: 0;
    float: right;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 24px;
    cursor: pointer;
}

.button.primary {
    background: #000;
    color: #fff;
}

#dropzone {
    position: relative;
    padding: 16px;
    width: 100%;
    height: 150px;
    border: 3px dashed #ddd;
    background: #fff;
    margin-bottom: 32px;
}

.flexy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.flexy > * {
    margin: auto;
}

#preview {
    height: 100%;
}

#preview img {
    height: 100%;
    display: block;
}

#photoinput {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}
