#macro(layout $params)
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Roboto:300" rel="stylesheet">
        <style>#include("/public/css/main.css")</style>
        <link rel="icon" href="/img/logo.png">
        <title>Javalinstagram</title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script> ## http-client
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.min.css"> ## dialogs
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-wireframe.min.css"> ## dialogs
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/js/vex.combined.min.js"></script> ## dialogs
        <script>vex.defaultOptions.className = "vex-theme-wireframe";</script> ## dialogs
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script> ## cookies
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script> ##dates
        <link rel="stylesheet" href="/immutable/css/basicLightbox-4.0.1.min.css"> ##lightbox
        <script src="/immutable/js/basicLightbox-4.0.1.min.js"></script> ##lightbox
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script> ## view-engine
        #include("/velocity/vue-components.vm")
    </head>
    <body>
        <header>
            <div class="content">
                <a href="/"><img id="logo" src="/img/logo.png" alt="Javalinstagram"></a>
                <a href="/"><h1>Javalinstagram</h1></a>
                #if(!$params.hideMenu)
                    <div id="menu">
                        <img id="menuImg" src="/img/menu.svg" alt="Menu">
                        <div class="menuOverlay">
                            <div class="userInfo">
                                Signed in as '<span id="username">...</span>'
                            </div>
                            <ul class="options">
                                <li><a href="/my-photos">My photos</a></li>
                                <li><a href="/signout">Sign out</a></li>
                            </ul>
                        </div>
                        <script>
                            document.getElementById("menuImg").addEventListener("click", function (e) {
                                e.stopPropagation();
                                document.querySelector(".menuOverlay").classList.toggle("open")
                            });
                            ["click", "touchend"].forEach(function (eventType) {
                                document.body.addEventListener(eventType, function () {
                                    document.querySelector(".menuOverlay").classList.remove("open")
                                })
                            });
                            document.getElementById("username").innerHTML = Cookies.get("signed-in-user");
                        </script>
                    </div>
                #end
            </div>
        </header>
        <main class="content">
            $bodyContent
        </main>
    </body>
</html>
#end
