<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link href='https://fonts.googleapis.com/css?family=Lobster+Two|Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
        <link href="https://unpkg.com/vuetify@1.1.1/dist/vuetify.min.css" rel="stylesheet">
        <title>Javalinstagram</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script> ## view-engine
        <script src="https://unpkg.com/vuetify@1.1.1/dist/vuetify.min.js"></script> ## view-engine
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script> ##dates
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script> ## http-client
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script> ## cookies
        #parse("/view/_frame/includes.vm")
        #include("/view/_frame/global.html")
        $headContent
    </head>
    <body>
        <main id="vue" v-cloak>
            <v-app>
                <v-content>
                    <nav-bar></nav-bar>
                    <v-container>
                        $bodyContent
                    </v-container>
                </v-content>
            </v-app>
        </main>
        <script>
            new Vue({el: "#vue"});
        </script>
    </body>
</html>
